.quote.svelte-5hem56{font-size:3.5rem;padding:0;height:1.5rem;width:1.5rem;line-height:1;top:0}.quote-end.svelte-5hem56{right:0;bottom:3rem;top:initial}
a.svelte-jwvhiw{color:#a1465e;font-weight:700}.bg-image.svelte-jwvhiw{opacity:0.4}
