.quote.svelte-12z24il{font-size:3.5rem;padding:0;height:1.5rem;width:1.5rem;line-height:1;top:0}.quote-end.svelte-12z24il{right:0;bottom:3rem;top:initial}
a.svelte-cnnkpz{color:#a1465e;font-weight:700}
